$bg-color: #FAFAD2;

html, body, ul, ol {
  margin: 0;
  padding: 0;
}

body {
  font: 150% Helvetica, sans-serif;
  background-color: $bg-color;
}

button {
  background-color: pink;
}

li {
    list-style-type: none;
}

img
{
  height: 200px;
  width: 300px;
}

.jumbotron {
  text-align: center;
}

select {
   -moz-appearance: none;
   appearance: none;
   background-color: #D8F7A6;
}
